.vs
artifacts

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
project.lock.json
*.orig
AquaWeb.Portal/typings
AquaWeb.Portal/wwwroot/jspm_packages
node_modules
AquaWeb.Portal/wwwroot/*.js
AquaWeb.Portal/wwwroot/*.css
*.js.map
*.css.map
publish
/packages
