<template>
  <require from="./material.scss"></require>
  <require from="./root.scss"></require>

  <mdc-layout-grid change.delegate="changed()">
    <mdc-layout-grid-inner>
      <mdc-layout-grid-cell mdc-headline2 span="12" class="header">
        ${settings.currentTemperature}°
        <span class="spacer"></span>
        <button mdc-switch selected.bind="settings.on"></button>
        <span class="spacer"></span>
        ${settings.currentTime}
      </mdc-layout-grid-cell>
      <mdc-layout-grid-cell span="12">
        <mdc-text-field type="time" value.bind="settings.dayStart">
          <mdc-icon mdc-text-field-icon leading>wb_sunny</mdc-icon>
        </mdc-text-field>
        <mdc-slider min="10" max="30" value.bind="settings.dayTemperature" discrete tick-marks
          mdcslider:change.trigger="changed()"></mdc-slider>
      </mdc-layout-grid-cell>
      <mdc-layout-grid-cell span="12">
        <mdc-text-field type="time" value.bind="settings.nightStart">
          <mdc-icon mdc-text-field-icon leading>nights_stay</mdc-icon>
        </mdc-text-field>
        <mdc-slider min="10" max="30" value.bind="settings.nightTemperature" discrete tick-marks
          mdcslider:change.trigger="changed()"></mdc-slider>
      </mdc-layout-grid-cell>
      <mdc-layout-grid-cell span="12">
        <mdc-expandable>
          <div slot="caption">Settings</div>
          <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="12">
              <mdc-form-field>
                <mdc-checkbox checked.bind="settings.daylightSavings"></mdc-checkbox>
                <label>Daylight savings</label>
              </mdc-form-field>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12">
              <mdc-text-field type="number" label="Trigger delay (ms)" value.bind="settings.triggerTimeout">
              </mdc-text-field>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12">
              <mdc-text-field label="Thermostat IP" value.bind="apiUrl">
              </mdc-text-field>
            </mdc-layout-grid-cell>
          </mdc-layout-grid-inner>
        </mdc-expandable>
      </mdc-layout-grid-cell>
    </mdc-layout-grid-inner>
  </mdc-layout-grid>
</template>
