.mdc-layout-grid {
  max-width: 400px;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: initial;
  outline: none;
}

.mdc-text-field[type="time"] {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;

  .spacer {
    flex: 1;
  }
}

